<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ SITE_TAGLINE }}">
    <title>{{ SITE_TITLE }}{% block entry %}{% ifdef TITLE %} - {{ TITLE }}{% endif %}{% endblock %}{% block listing_once %} - {{ SITE_TAGLINE }}{% endblock %}</title>
    <link href="//cdn.jsdelivr.net/bootswatch/3.3.2/lumen/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.jsdelivr.net/fontawesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ BASE_URL }}/assets/custom.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ BASE_URL }}/atom/" rel="alternate" type="application/atom+xml" title="{{ SITE_TITLE }}" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ BASE_URL }}/">{{ SITE_TITLE }}</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li{% if MENU == "blog" %} class="active"{% endif %}><a href="{{ BASE_URL }}/posts/">Blog</a></li>
            <li{% if MENU == "about" %} class="active"{% endif %}><a href="{{ BASE_URL }}/about/">About</a></li>
            <li{% if MENU == "projects" %} class="active"{% endif %}><a href="{{ BASE_URL }}/projects/">Projects</a></li>
            <li{% if MENU == "talks" %} class="active"{% endif %}><a href="{{ BASE_URL }}/talks/">Talks</a></li>
            <li{% if MENU == "resume" %} class="active"{% endif %}><a href="{{ BASE_URL }}/resume/">Resume</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {% block listing %}
          <article>
            <h3><a href="{{ BASE_URL }}/post/{{ FILENAME }}/">{{ TITLE }}</a></h3>
            {{ CONTENT }}
            <div class="metadata well well-sm">
              Author: <a href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR_NAME }}</a><br />
              {% ifdef DATE_FORMATTED %}Published on: {{ DATE_FORMATTED }}<br />{% endif %}
              <a href="{{ BASE_URL }}/post/{{ FILENAME }}/">Permalink</a>
            </div>
          </article>
          {% endblock %}
          {% block listing_once %}
          <ul class="pager">
            {% ifdef PREVIOUS_PAGE %}
            <li class="previous">
              <a href="{{ BASE_URL }}/page/{{ PREVIOUS_PAGE }}/">&larr; Newer</a>
            </li>
            {% endif %}
            {% ifdef NEXT_PAGE %}
            <li class="next">
              <a href="{{ BASE_URL }}/page/{{ NEXT_PAGE }}/">Older &rarr;</a>
            </li>
            {% endif %}
          </ul>
          {% endblock %}
          {% block entry %}
          <article>
            <h3>{{ TITLE }}</h3>
            {{ CONTENT }}
            {% ifdef IS_POST %}
            <div class="metadata well well-sm">
              Author: <a href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR_NAME }}</a><br />
              {% ifdef DATE_FORMATTED %}Published on: {{ DATE_FORMATTED }}<br />{% endif %}
              <a href="{{ BASE_URL }}/post/{{ FILENAME }}/">Permalink</a>
            </div>
            {% endif %}
          </article>
          {% endblock %}
        </div>
        <div class="col-md-3 sidebar">
          <div class="panel panel-default hidden-xs">
            <div class="panel-heading">
              <h4 class="panel-title">Under the hood</h4>
            </div>
            <div class="list-group">
              <a class="list-group-item" href="http://blogc.org/">blogc</a>
              <a class="list-group-item" href="https://github.com/blogc/blogc-git-receiver">blogc-git-receiver</a>
              <a class="list-group-item" href="http://git-scm.com/">Git</a>
              <a class="list-group-item" href="http://www.gentoo.org/">Gentoo Linux</a>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Content License</h4>
            </div>
            <div class="panel-body">
              <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                <img alt="Creative Commons License" class="license" src="{{ BASE_URL }}/assets/img/creative-commons-88x31.png" />
              </a>
              This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
              Creative Commons Attribution-NonCommercial 4.0 International License</a>.
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Disclaimer</h4>
            </div>
            <div class="panel-body">
              This is a personal weblog. The opinions expressed here represent my own
              and not those of my employer, Gentoo Foundation or anyone else.
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="row">
          <div class="col-md-12">
            <p>
              Powered by: <a href="http://blogc.org/">blogc {{ BLOGC_VERSION }}</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.4"></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-2886928-8");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>
